
h2 {
    text-align: center;
    color: #CA3032; 
    text-decoration: underline  wavy #32586D;
}


#me {
    width: 100%;
    height: auto;
  
  /* Try this 
  when at the 
  end 
  transform: scaleX(-1); */
}


.whiteBack {background-color:#F3F5F2; margin: 0}
.lightBlueBack {background-color:#B2D1D6}
.beigeBack {background-color:#DFDCC9}
.redBack {background-color:#CA3032}
.darkblueBack {background-color: #32586D}

.blueStripe {
    height: 10px; 
    border-width: 0; 
    color: #32586D; 
    background-color: #32586D;
    box-shadow: 0px 1px 5px 0.2px  #45728a ;
}
.beigeStripe {
    height: 10px; 
    border-width: 0; 
    color: #DFDCC9; 
    background-color: #DFDCC9;
    box-shadow: 0px 1px 5px 0.2px  #e7e6da ;
}
.redStripe {
    height: 10px; 
    border-width: 0; 
    color: #CA3032; 
    background-color: #CA3032;
    box-shadow: 0px 1px 5px 0.2px  #da4749 ;
}

.sansFont{font-family: 'Source Sans Pro', sans-serif;}
.lobsterFont{font-family: 'Lobster Two', cursive;}

header {
    background-color: #32586D;
    color: #F3F5F2;
    padding: 1em;
    box-shadow: 0px 1px 10px  #163b4e ;
    font-size: xx-small;
    text-align: center;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

header h1{
    margin-top: 0;
}

#showcase{

    font-size: x-large;
    font-weight: bolder;
    color: #32586D; 
}
.leftShowcase{
    text-align: center;
}
.rightShowcase{
    text-align: center;
}

.showcaseWheels{
    margin-bottom: 3em;
}

.summary {
    margin: 1.5em;
    font-family: 'Source Sans Pro', sans-serif;
}

footer{
    font-size: small;
    text-align: center;
}



.change .two{display:none}
.change:hover .one{display:none}
.change:hover .two{display:inline}

@media only screen and (min-width: 600px) {
    .summary {
        max-width: 500px;
        margin: auto;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .leftShowcase{
        float: left;
        width: 50%;
    }
    .rightShowcase{
        float: right;
        width: 50%;
    }

    h2{font-size: xx-large;
    }

    .showcaseWheels{
        margin-bottom: 5em;
    }

}