@media only screen and (min-width: 1029px) {
    #container {
        font-size: 150%;
    }

    .galleryGrid {
        display: grid;
        width: 100%;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 5fr);
      
        grid-template-areas: "img1 img2 img3"
                             "img4 img5 img6"
                             "img7 img8 img9";}
      
      .fit {width: 100%; height: 100%;}
      
      .galleryGrid p {
        margin-top: 0;
        margin-bottom: 0;
        padding: 5px;
        font-size: large;
      }

}