body {
  margin: 0px;
  background:linear-gradient( rgb(255, 250, 223) 25%,
                           rgb(241, 231, 173) 25%, rgb(241, 231, 173) 50%,
                           rgb(248, 214, 120) 25%, rgb(248, 214, 120) 75%
                           ,rgb(250, 189, 97) 0%) 
                           no-repeat;
  

  color:rgb(52, 134, 201);
}
#LogoPicture {
    max-width: 100px;
    float: left;
    
}

/*---------------nav--------------*/
nav {

	max-width: 400px;
  background-color:  #189fdd;
  
}
.navigation {
  list-style: none;
  background-color: #189fdd;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
}
.navigation a:hover {
	color: #fff;
	background-color: rgb(52, 134, 201);
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}


#bar{
  background-color: #189fdd; 
}

#container{
  margin-left: 10%;
  margin-right: 10%;

}
.active{
  background-color: rgb(52, 134, 201);
}

/*------------------Body------------------*/
#mainContent {
  background: rgb(232, 249, 255);
  margin-left: 7%;
  margin-right: 7%;
  box-shadow: 0px 8px 15px 0px #c2b151;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: -16px;
}

footer {
  background-color: #189fdd; 
  color: #fff;
  display: flex;
justify-content: center;
padding: 1%;
}

#headerAlign{
  margin-left: 12%;
  margin-right: 12%;
}

#article img{
  max-width: 100%;
}
#weather img{
  max-width: 100%;
}
#contact img{
  max-width: 100%;
}
