@media only screen and (min-width: 560px) {

	.towns {
		grid-template-columns: 1fr ;
	}

	.towns section{
		display: grid;
		grid-template-columns: 1fr 1fr;
	  }
	.towns section:nth-child(even){
		direction: rtl;
	}

	  
	/*------------nav change------------*/  
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* needed because of state in small view */
		flex: 1 1 100%;
	}
	.navigation li a {
		color: #fff;
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
	}
}