header,
main,
footer {
    margin: 0 auto;
    text-align: center;
}

body {
    background-color: rgb(110, 169, 247);
}
.cards {
    display: grid;
    grid-template-columns: 1fr;;
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
}
.cards section {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(230, 241, 255);
    border: 1px solid rgb(19, 60, 107);
    
}

.cards section img {
    width: 60%;
    height: auto;
    margin-top: 10px;
    box-shadow: 0px 0px 7px 0px rgb(19, 60, 107);
}

h1 {
    border: 1px solid rgb(19, 60, 107);
    padding: 15px;
    color: rgb(19, 60, 107);
    background-color: rgb(230, 241, 255);
}

h2 {
    color: rgb(19, 60, 107);
}

footer {
    border: 1px solid rgb(19, 60, 107);
    padding: 15px;
    color: rgb(19, 60, 107);
    background-color: rgb(230, 241, 255);
}
pre {
    margin: 0;
}

@media only screen and (min-width: 560px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 1029px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

