body {
  margin: 0px;
  background:linear-gradient( rgb(255, 250, 223) 25%,
                           rgb(241, 231, 173) 25%, rgb(241, 231, 173) 50%,
                           rgb(248, 214, 120) 25%, rgb(248, 214, 120) 75%
                           ,rgb(250, 189, 97) 0%) 
                           no-repeat;
  

  color:rgb(52, 134, 201);
}
#LogoPicture {
    max-width: 100px;
    float: left;
}

/*---------------nav--------------*/
nav {

	max-width: 400px;
  background-color:  #189fdd;
  
}
.navigation {
  list-style: none;
  background-color: #189fdd;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
}
.navigation a:hover {
	color: #fff;
	background-color: rgb(52, 134, 201);
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}

#bar{
  background-color: #189fdd; 
}

#container{
  margin-left: 10%;
  margin-right: 10%;

}
.active{
  background-color: rgb(52, 134, 201);
}

/*------------------Body------------------*/
.mainContent {
  background: rgb(232, 249, 255);
  margin-left: 7%;
  margin-right: 7%;
  box-shadow: 0px 8px 15px 0px #c2b151;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: -16px;
}

#headerAlign{
  margin-left: 12%;
  margin-right: 12%;
}

.weeklyEventsShow{
  display: flex;
  justify-content: center;
  background-color: rgb(250, 189, 97);
  color: black;
  box-shadow: 0px 2px 30px 0px rgb(214, 204, 144);
  font-size: 12px;
}
.weeklyEventsHide{
  display: none;
}

/*------------bottom Content---------------*/
.bottomContent {

  background: rgb(251, 254, 255);
  margin-left: 7%;
  margin-right: 7%;
  box-shadow: 0px 0px 15px -4px #c2b151;
  padding-left: 5%;
  padding-right: 5%;
}
.bottomContent img {
  display: none;
}

footer {
  background-color: #189fdd; 
  color: #fff;

  display: flex;
  justify-content: center;
  padding: 1%;
}

/*----------------- Form ----------*/
fieldset {
  width: 30%;
}

#submit {
  border-radius: 8px;
  color: white;
  border: none;
  background-color: #189fdd;
  padding: 5px;
  
}