@media only screen and (min-width: 560px) {
    #weatherSummary {

        font-size: 20px ;
    }
    #weeklyEvents{
        font-size: 120%;
    }

    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* needed because of state in small view */
		flex: 1 1 100%;
	}
	.navigation li a {
		color: #fff;
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
	}

  .bottomContent {
    height: 350px;
    position: relative;
    }
    
  .bottomContent img {
    display: flex;
    top: 10%;
    right: 10%;
    bottom: 10%;
    width: 500px;
    max-height: 80%;
    max-width: 60%;
    position: absolute;
    overflow: auto;
  }

  /*----------- 5 day forecast----------*/


.fiveDayForecast {
    display: true;
    border: 1px solid lightgrey;
    display: grid;
    grid-template:  25% 60% 15%/ 20% 20% 20% 20% 20%;
    text-align: center;
    box-shadow: 0px 0px 15px -5px grey;
    background-color: rgba(255, 255, 255, 0.041);
  }
  
  #dOne{
  grid-area: 1/1/2/2;
  background-color: rgb(206, 242, 255);
  border: 1px solid lightgrey;
  }
  #dOneImg{
  grid-area: 2/1/3/2;
  }
  #dOneTemp{
  grid-area: 3/1/4/2;
  }
  
  #dTwo{
    grid-area: 1/2/2/3;
    background-color: rgb(206, 242, 255);
    border: 1px solid lightgrey;
  }
    #dTwoImg{
    grid-area: 2/2/3/3;
  }
    #dTwoTemp{
    grid-area: 3/2/4/3;
  }
    
  #dThree{
    grid-area: 1/3/2/4;
    background-color: rgb(206, 242, 255);
    border: 1px solid lightgrey;
  }
    #dThreeImg{
    grid-area: 2/3/3/4;
  }
    #dThreeTemp{
    grid-area: 3/3/4/4;
  }
  
  #dFour{
    grid-area: 1/4/2/5;
    background-color: rgb(206, 242, 255);
    border: 1px solid lightgrey;
  }
    #dFourImg{
    grid-area: 2/4/3/5;
  }
    #dFourTemp{
    grid-area: 3/4/4/5;
  }
  
  #dFive{
    grid-area: 1/5/2/6;
    background-color: rgb(206, 242, 255);
    border: 1px solid lightgrey;
  }
    #dFiveImg{
    grid-area: 2/5/3/6;
  }
    #dFiveTemp{
    grid-area: 3/5/4/6;
  }
  
  #container {
      font-size: 120%;
      flex-wrap: nowrap;
  }

  #weather{
    display: grid;
    grid-template: 5% 50% 15% 30% / 4% 54% 42%;
  }

  #article{
    position: relative;
    height: 435px;
  }
  
  #article img{
    float: right;
  }
}