
@media only screen and (min-width: 560px) {
    /*---------------Navigation bar---------------------*/
	.navigation {display: flex;}
	.navigation li {display: block; /* needed because of state in small view */}
	.navigation li:first-child {display: none;}
	/*------------Reservation page------------*/
	.resText{
		/*max-width: 70%;	*/
	}
	.guides {grid-template-columns: 1fr 1fr;}
	.guides sections {max-width: 450px;}
	body {margin: 0 4rem 0 4rem;}
}
@media only screen and (min-width: 1029px) {
    .guides {
        grid-template-columns: 1fr 1fr 1fr;
    }

}


