@media only screen and (min-width: 560px) {
    /*---------------Navigation bar---------------------*/
	.navigation {display: flex;}
	.navigation li {display: block; /* needed because of state in small view */}
	.navigation li:first-child {display: none;}
	/*------------Reservation page------------*/
	.resText{
		/*max-width: 70%;	*/
	}
	.guides {grid-template-columns: 1fr 1fr;}
	.guides sections {max-width: 450px;}
	body {margin: 0 4rem 0 4rem;}
}
@media only screen and (min-width: 1029px) {
    .guides {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

.center{
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #ffcf7d;
    box-shadow: 1px 1px 5px 3px #b38434;
    border-radius: 8px;}
#LogoPicture { max-width: 100px;  float: left; padding-right: 30px;}

/*---------------Navigation bar--------------*/
  .navigation {background-color: #b38434; padding: 0; border-radius: 8px; margin-bottom: 1px;}
  .navigation li:first-child {display: block;}
  .navigation li {display: none;}
  .navigation a {
    display: block;
    white-space: nowrap;
    color: #fff;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;}
  .navigation a:hover {color: #fff; background-color: #467AB3;}
  .responsive li {display: block;}
  .active{background-color: #7dbcff;}


/*------------------Body-----------------*/
body {
    background-color: #7dbcff;
    color: #b38434;
    margin-left: 2rem;
    margin-right: 2rem;
}
.raftingIMG {
    border-radius: 8px; border: 2px solid #b38434; width: 100%;
}
#intro{
    margin: 5px;
    border-radius: 8px;
    padding: 10px;
    background-color: #b38434;
    color: #96c9ff;
}
h1 {font-family: 'Lobster', cursive;}
h2 {font-family: 'Lobster', cursive;}

main {font-family: 'Montserrat', sans-serif;}

footer{
    margin-top: 10px;
    margin-bottom:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

  /*------------Reservation page------------*/
  .resText{
    border-radius: 8px; border: 2px solid #b38434;
    background-color: #96c9ff;
    color: #467AB3;
    font-size: 16px;
    padding: 1rem;
    min-width: 90%;
    max-width: 800px;
  }
  #submit{
      background-color: #7dbcff;
      border-radius: 8px; border: 2px solid #467AB3;
      color: #b38434;
      margin: 10px;
      padding: 8px 20px;
      font-size: large;
      font-family: 'Lobster', cursive;
  }

  /*------------text over image------------*/
  .imgTxtcontainer{
    max-width: 800px;
      position: relative; border-radius: 8px; 
      border: 2px solid #b38434; width: 100%}

  .txtImage{opacity: 1;
    display: block;
    width: 100%;
    
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;}

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        max-height: 100%;}
      
      .imgTxtcontainer:hover .txtImage {opacity: 0.3;}
      
      .imgTxtcontainer:hover .middle {opacity: 1;}
      
      .text {
          max-height: 100%;
        border-radius: 8px; border: 2px solid #b38434;
        background-color: #96c9ff;
        color: #467AB3;
        font-size: 16px;
        padding: 5px;}

        /*--------------Guides------------------*/
        .guides {
            max-width: 90%;
            display: grid;
            grid-template-columns: 1fr;
            /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
        }
        .guides section {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin: 0.5rem;
            padding: 0.5rem;
            background-color: #96c9ff;
            text-align: center;
            color: #467AB3;
            border-radius: 8px; border: 2px solid #b38434;
            max-width: 350px;
        }

        .guides section img {
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            display: block;
            width: 60%;
            height: auto;
            margin-top: 10px;
            box-shadow: 0px 0px 7px 0px #467AB3;
        }