body {
    margin: 0;
  background:linear-gradient( rgb(255, 250, 223) 25%,
                           rgb(241, 231, 173) 25%, rgb(241, 231, 173) 50%,
                           rgb(248, 214, 120) 25%, rgb(248, 214, 120) 75%
                           ,rgb(250, 189, 97) 0%) 
                           no-repeat;
  
  height:100vh;
  color:rgb(12, 94, 161);
}
#LogoPicture {
    max-width: 140px;
}
